<!-- @author Vamshi Gopari, Akhil Krishna Sai Takkella, Purna Chandra Pattipati, Vaishnavi Priya Chennu -->
<nav class="navbar gmu-green-bg navbar-expand-lg navbar-light">
 <div class="container-fluid">
   <div class="me-3">
     <ul class="navbar-nav align-items-center">
       <li class="nav-item">
         <a class="nav-link a-nav-button" routerLink="survey">Home <i class="fa fa-home" aria-hidden="true"></i></a>
       </li>
     </ul>
   </div>
   <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="me-3 collapse navbar-collapse justify-content-end" id="navbarNav">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link a-nav-button" routerLink="survey/form">Campus Visit Survey <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
       </li>
       <li class="nav-item">
         <a class="nav-link a-nav-button" routerLink="survey">Campus Visit Survey List <i class="fa fa-list-alt" aria-hidden="true"></i></a>
       </li>
     </ul>
   </div>
 </div>
</nav>