/* @author Vamshi Gopari, Akhil Krishna Sai Takkella, Purna Chandra Pattipati, Vaishnavi Priya Chennu */

 /* css for div container */
 .container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* css for h1 tags */
h1 {
  color: #006633;
  background-color: #FFCC33;
  padding: 10px;
  border: 5px solid #006633;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}


/* custome css for button */
.custom-btn-element {
  color: #FFCC33;
  font-size: 15px;
  font-weight: bold;
  background-color: #006633;
  border: 1.5px solid #FFCC33;

}
.custom-btn-element:hover {
  color: #006633;
  font-size: 15px;
  font-weight: bold;
  background-color: #FFCC33;
  border: 1.5px solid #006633;
}

/* Style for the form */
form {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* style for required fields */
input:required,
select:required,
textarea:required {
  border-color: #006633;
}